/*
 * Authors : Thomas Andre, Victor Bonnin, Pierre Niogret, Bénédicte Thomas
 * Licence: GPLv3 or later
 */

body {
  margin: 0px;
}

#sidebar {
  text-align: center;
}

#map {
  margin: 0px;
  height: 100%;
  width: 100%;
  right: 0px;
  position: absolute;
}
